{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do lists</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'lists/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lists/css/base.css' %}" rel="stylesheet" type="text/css" />
    <!--<link href=".css" rel="stylesheet" type="text/css" />-->
</head>
<body>
<div class="container">
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 jumbotron">  
          <div class="text-center"> 
           <h1>{% block headertext %}{% endblock headertext %}</h1>
           <form method="POST" action="{% block formaction %}{% endblock formaction %}">
               {% csrf_token %}
               <input id="id_new_item" type="text"
                      class="form-control input-lg"
                      name="item_text"
                      placeholder="Enter a to-do item" />
            </form>
          </div>
      </div> 
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
           {% block remainder %}{% endblock remainder %}
        </div>
    </div>
</div>
    <script src="{% static 'lists/javascript/jquery.js' %}"></script>
    <script src="{% static 'lists/javascript/bootstrap.js' %}"></script>
</body>
</html>

