server {
    listen 80;
    server_name {{ sitename }};

    location /static {
        alias /home/{{ ansible_ssh_user }}/sites/{{ sitename }}/static;
    }

    location / {
        proxy_set_header Host {{ host }};
        proxy_pass http://unix:/tmp/{{ sitename }}.socket;
    }
}